form {
    flex-direction: column;
    gap: 1rem;

    #register_item {
        height: 44px;
        border:2px solid var(--border-primary) ;
        border-radius: 12px;
        padding-left: 18px;

        &:hover {
            border-color:var(--border-hover);
        }

        &:focus {
            outline: 2px solid #CA3884;
            outline-offset: -2px;
        }
    
        &::placeholder{
            font-family: var(--font-family);
            font-size: 1rem;
            font-weight: 400;
            color:var(--content-tertiary);
        }
    }

    & button {
        height: 44px;
        border: none;
        border-radius: 12px;
        margin-bottom: 40px;
        background-color: var(--color-brand);
        font: var(--label);
        color: var(--always-white);

        &:hover {
            background-color: #A52C6B;
        }
    }

    & ul li {
        align-items: center;
        list-style: none;
        padding-inline: 12px;
        background-color: var(--background-secondary);
        height: 44px;
        border-radius: 12px;

        & + li {
            margin-top: 12px;
        }

        & div {
            margin-left: auto;
            width: 1rem;
            height: 1rem;
        }

        input {
            appearance: none;
        }

        input + label:before {
            content: "";
            width: 1rem;
            height: 1rem;
            border: 1px solid var(--border-primary);
            border-radius: .375rem;
            display: inline-block;
            vertical-align:middle; 
            margin-right: .75rem;
            margin-bottom: .187rem;
        }
        
        input:checked + label:before {
            background-image: url(../assets/img/selected.svg);
            background-position: center;
            border: 1px solid var(--background-secondary);
        }

        label {
            font: var(--paragraph);
            color: var(--content-secondary);
        }
    }
}

